<!doctype html>
<html lang="en" class="h-100">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Crime in Costa Rica</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="front_container">
    <div class="title_container">
      <h1 class="title">Post-COVID Crime in Costa Rica by District</h1>
    </div>

<main class="crime_container">
    <div class="crime_map" style="margin: 0 auto;">
        {{map|safe}}
    </div>
</main>



  <footer class="footer">
  </footer>
</div>


    
  </body>
</html>
