* {
    font-family: Consolas;
    font-weight: 200;
}

body {
    background-color: #e1dfd4;
}

.title_container {
    position: relative;
    border-radius: 50px;
    background-color:rgb(111, 162, 171);
    color: #ffffff;
    
}

.title {
    text-align: center;

}

.crime_map_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.crime_map {
    height: 50%;
    width: 50%;
    padding: 100px;
}