<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>Crime in Costa Rica</title>
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
    <style>
      iframe {
        width: 100%;
        height: 90vh;
        border: none;
      }
    </style>
  </head>
  <body>
    <h1>Post-COVID Crime in Costa Rica by District</h1>

    <iframe src="{{ url_for('static', filename='map.html') }}"></iframe>

    <footer>
      Created by Jenny Morgan
    </footer>
  </body>
</html>
